$doctype 5
<html>
    <body>
        <h4>Guess your an admin
            <p>
                Add Anime Form
            <form method=post action=@{AddAnimeR} enctype=#{enctype}>
                ^{widget}
                <button>Add Anime
        <footer>
            <a href=@{HomeR}>Back to Home
